  <!-- Footer -->
  <script src="https://cdn.tailwindcss.com"></script>
  <footer class="border-t mt-16 py-6 text-sm text-gray-500 font-poppins">
    <div class="max-w-4xl mx-auto px-4 flex flex-col md:flex-row justify-between gap-4 text-center md:text-left">
      <div>
        <strong>Email</strong><br>
        rizkypro27.co@gmail.com
      </div>
      <div>
        <strong>GitHub</strong><br>
        <a href="https://github.com/RizkyKurniaAntasari" class="text-blue-500 hover:underline">https://github.com/RizkyKurniaAntasari</a>
      </div>
      <div>
        <strong>vclass</strong><br>
        <a href="https://vclass.unila.ac.id/" class="text-blue-500 hover:underline">https://vclass.unila.ac.id/</a>
      </div>
    </div>
    <p class="mt-6 text-center text-xs text-gray-400">
      © 2025 by Rizky Kurnia Antasari. Creted by tailwindcss
    </p>
  </footer>